body {
    margin-left: 18rem;
    zoom: 80%;
}



.rectangleHeader {
    display: flex; 
    margin-top: 3rem;
    width: 85rem;
    height: 10rem;
    background: #61787F;
    border: 0.1rem solid black;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.rectangleHeader img {
    width: 12rem;
    height: auto;
    margin-left: 1rem;
}

.rectangleHeader p {
    color: white;
    font-size: 4rem;
    margin-left: 5rem; 
}

h1 {
    font-size: 4rem;
}

.rectangleBestMovie {
    display: flex;
    width: 84.2rem;
    height: 36rem;
    border: 0.5rem solid black;
}

.rectangleBestMovie img {
    width: auto;
    height: 32rem;
    margin-left: 3rem;
    margin-top: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.elementsBestMovie h2 {
    margin-left: 8rem;
    font-size: 4rem;
}

.elementsBestMovie p {
    margin-left: 8rem;
    margin-right: 5rem;
    font-size: 2rem;
}

.elementsBestMovie button {
    background-color: red;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border:;
    border-radius: 1em;
    width: 10rem;
    height: 4rem;
    margin-left: 40rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}


